@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello-webfont.woff2') format('woff2'),
  url('fonts/fontello/fontello-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
